// COLORS

$text: #0f2447;
$background: #e7e4e4;
$primary: #c0c0c0;
$secondary: #4984a7;
$accent: #b7ccf0;

// FONTS

$font-base: "Open Sans", sans-serif;
$font-primary: "Montserrat", sans-serif;

// POSITION 

$fixed: fixed;
$absolute: absolute;
$relative: relative;

// MEDIA QUERIES 

$mobile: 576px;
$small-tablet: 768px;
$tablet: 1024px;


// DISPLAY 

$display-flex: flex;
$display-none: none;
$display-block: block;

// MAX 

$max: 100%;

// COVER 

$cover: cover;

// SIZE

$initial: 0;
$size-five: 5px;
$size-ten: 10px;
$size-fifteen: 15px;
$size-twenty: 20px;
$size-fifty: 50px;

// TRANSFORM 

$uppercase: uppercase;

// BORDER

$border-dark: 0.3px solid $text;
$border-light: 0.3px solid $background;
$border-dark-btn: 2px solid $text;
$border-light-btn: 2px solid $background;
$border-secondary-header: 3px solid $secondary;

// SPACING 

$spacing: 1px;

// TRANSITION 

$transition: all 0.5s ease;

// RADIUS 

$radius: 0.600rem;

// BACKGROUND 

$transparent: transparent;