.card {
    margin-top: 1.5rem;
    padding: 30px;
    border: $display-none;
    background-color: transparent;

    @media screen and (max-width: $mobile) {
        padding: 30px $initial !important;
    }

    .subtitle {
        font-size: 22px !important;
    }
}

.card-strength {
    .name-strength {
        z-index: 11;
        font-size: $size-twenty !important;
        color: $primary;
        padding: $size-twenty;
        position: $absolute;
        @include text;
        background-color: $text;
    }

    img {
        height: 400px;
    }

    p {
        padding: $initial;
        margin-top: $size-twenty;
    }
}

.card-infos {

    p {
        font-size: 22px !important;
    }
}

.card-destination,
.card-transport {
    padding: $initial !important;

    .content-card {
        width: $max;
        margin-top: -16%;
        padding: 2.3rem;
        border-radius: $radius;
        text-align: center;
        position: $absolute;
        background-color: #abbfe0;

        @media screen and (max-width: $mobile) {
            margin-top: -28% !important;
        }

        @media screen and (max-width: $tablet) {
            margin-top: -30%;
        }

        h4,
        h2 {
            font-size: 20.5px !important;
        }

        h4 {
            color: $text !important;
        }

        h2 {
            color: $background !important;
        }
    }
}

.card-transport {
    margin-bottom: $size-twenty;

    .content-card {
        background-color: #142b54 !important;
    }
}