.btn-top {
    color: $background !important;
    display: $display-none;
    bottom: $size-ten;
    transition: $transition;
    border: $display-none !important;
    background-color: $secondary !important;

    &:hover,
    &:focus,
    &:active {
        color: $text;
    }
}

#topButton.show {
    display: $display-block;
}